<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" >JEREMY HERNANDEZ</a>
      <button type="button" class="btn btn-primary position-relative">
        <a class="navbar-brand" routerLink="/home/">HOME   <i class="bi bi-house"></i></a>
      </button>
        <button type="button" class="btn btn-primary position-relative">
        <a class="navbar-brand" routerLink="/tabla/">DONACIONES   <i class="bi bi-activity"></i></a>
      </button>
        <button type="button" class="btn btn-primary position-relative">
        <a class="navbar-brand" routerLink="/datosp/">DATOS ESTUDIANTE   <i class="bi bi-file-earmark-person"></i></a>
      </button>
    </div>
  </nav>
  