<div class="tama" ><mat-card clas="box" class="example-card">
    <mat-card-header clas="box">

      <mat-card-title>JEREMY </mat-card-title>
      <mat-card-subtitle>IMAGINE</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://cdn.discordapp.com/attachments/1105338154396942391/1120844881825374219/Leonardo_Diffusion_loish_jeremy_mann_full_body_shot_character_0.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
 ESTA ES UNA IMAGEN QUE HICE CON IA SOBRE MI.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  </div>