.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .tama{
    border: 5px solid darkblue;
    

  }
  .box {
  border: 5px solid darkblue;
  width: 300px;
  margin: 10%;
  padding: 10%;
  }
      